.Logo {
  font-weight: bold;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  &:hover {
    color: blue;
    border-bottom: blue 1.5px solid;
  }
}
#shadow {
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.1111);
  z-index: 10000;
}
